/*
  used to be in a "prefers-color-scheme": dark block
  maybe should come back and add theme switcher
*/
html {
  color-scheme: dark;
}

body {
  color: white;
  background: black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* 
  needed to make sure the filter dropdown is in the right spot
  MUI likes to override things
*/
div.MuiPaper-root:nth-child(3) {
  top: 210px !important;
  left: 150px !important;
}
